
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 body{
  background-color: #F0FFFF
  background; url :"/images/background.jpg";
  background-size:cover;
  position:  relative;
  margin: 0;
  padding: 0;
 }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}

nav{
  position: relative;
  background: #2F4F4F;
  width: 100%;
  padding: 20px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 0px;
  float:right;
}
.menu ul li:first-child{
  margin-left: 0px;
  float:right;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 8px 15px;
  border-radius: 5px;

  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}

.img{
    background: url("cdc.jpg") no-repeat center;
  position: absolute;
  width: 500px;
  height: 500px;
  align-self: center;
  margin-bottom: 40px;
  left: 50%;
  margin-left: 250px;
  margin-top: 250px;
 
 }
.second-div{
  width:70%;
  display: inline;
  text-align: center;
  color: #002db3 ;
  border:10px ;
  margin-left: 10px;
  font-size: 1 px;
}
.table_info{
  width:100%;
  font-color:#cc3300;
  padding: 10px;
  text-align: center;
  margin-left:45px;

}




